{% extends 'base.html' %}
{% load static %}
<title>
  {% block title %}
    Connect
  {% endblock %}
</title>

{% block content %}
<div class="container py-5 text-secondary">

  <!-- TITLE -->
  <div class="text-center">
    <h1 class="section-title text-primary">
      Let's Connect
    </h1>
  </div>

  <!-- INFO CARDS -->
  <div class="row g-4 shadow-blue mt-5 mb-5 p-5 rounded-4">

    <div class="col-md-4">
      <div class="skill-card shadow-lg p-4 text-center">
        <h5><i class="fa-solid fa-envelope"></i>  Email: nidhireddu40@gmail.com</h5>
      </div>
    </div>

    <div class="col-md-4">
      <div class="skill-card shadow-lg p-4 text-center">
        <h5><i class="fa-solid fa-phone"></i>  Mobile: +91 8307720212</h5>
      </div>
    </div>

    <div class="col-md-4">
      <div class="skill-card shadow-lg p-4 text-center">
        <h5><i class="fa-solid fa-location-dot"></i>  Location: Haryana, India</h5>
      </div>
    </div>

    <div class="text-center mt-5">
  
      <p class="text-secondary mb-4">
        Connect on social media
      </p>
  
      <div class="d-flex justify-content-center gap-3 social-icons">
  
        <a href="https://www.linkedin.com/nidhi-reddu-ml/" target="_blank" class="icon">
          <i class="fab fa-linkedin-in" style="font-size:25px;"></i>
        </a>
  
        <a href="https://github.com/ExpensiveBug" target="_blank" class="icon">
          <i class="fab fa-github" style="font-size:25px;"></i>
        </a>
  
        <a href="mailto:nidhireddu40@email.com" class="icon">
          <i class="fas fa-envelope" style="font-size:25px;"></i>
        </a>
  
      </div>
  
    </div>
  </div>


</div>
{% endblock %}
